@media (min-width: 310px) and (max-width: 540px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        position: relative;
        width: 100vw;
    }

    .wrapper {
        width: 100vw;
        margin: 0 auto;
        padding: 0 20px;
    }

    .list_sections {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .sections {
        flex-direction: column;
    }

    .section {
        padding: 0;
        margin-bottom: 20px;
    }

    .avatarContact {
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .iconsAndCopy {
        flex-direction: column-reverse;
        text-align: center;
    }
    .iconWrapper {
        margin-top: 10px;
    }
}


.footer {
    margin-top: -2vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 30px 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 95vw;
    padding: 0 20px;
    margin-left: 2vw;
}


.list_sections {
    font-size: 9px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.sections {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

.section {
    flex: 1;
    padding: 0 15px;
}

.avatarContact {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    box-shadow: rgb(45, 14, 14) 0px 0px 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 1s;
    margin-right: 10px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}


.avatar:hover {
    transition: 1s;
    box-shadow: rgb(255, 0, 0) 0px 0px 10px;

    transform: scale(1.1);
}


.astrumBottomName {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    transition: 2s;
}

.astrumBottomName:hover {
    transition: 2s;
    color: rgb(231, 231, 231);
}

.contactButton {
    box-shadow: rgb(171, 171, 171) 0px 0px 8px;
    background-color: #1e9218;
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.6s;

}

.contactButton:hover {
    transition: 0.6s;
    transform: scale(1.03);
    background-color: #0b3908;
}

.contactParagraph {
    font-size: 9px;
    font-weight: 600;
    margin: 0;
}

.pagesLinksServices {
    margin-bottom: 15px;
}

.sectionTitle {
    color: rgb(212, 212, 212);
    font-weight: bold;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    color: rgb(155, 155, 155);
    margin-bottom: 5px;
    transition: 0.2s;
}

.item:hover {
    color: rgb(196, 158, 21);
    transition: 0.2s;

}

.separatorLine {
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

.separatorLine1 {
    border-top: 2px solid #e6e6e6;
    margin: 25px 0;
}

.iconsAndCopy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

}

.iconWrapper {
    display: flex;
    align-items: center;
}

.imageIcon {
    transition: 0.5s;
    margin-right: 10px;
    transform: scale(0.5);
}

.imageIcon:hover {
    transition: 0.6s;
    transform: scale(0.8);
}

.copyRight {
    text-align: right;
    font-size: 7px;
    font-weight: 500;
    color: rgb(158, 158, 158);
}