@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/*font-family: 'Oswald', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
/*  font-family: 'Cabin', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
/*  font-family: 'Teko', sans-serif;
*/

.parent ul { 
  list-style: none;
}

.parent {
  z-index: 100;
  background-color: #111b20;
  color: white;
  display: flex;
  position: fixed;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.parent_wrapper {
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo__signature_and_button_parent{ 
  display: flex;
  width: 90vw;
  justify-content: space-between;
  flex-direction: row;
}

.logo_item{
  margin: 5px;
  margin-top: 10px;

}

.header_logo { 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:white 0px 0px 7px;
}
.header_logo:hover { 
  cursor: pointer;
  margin-top: 0;
  box-shadow:white 0px 0px 12px;
}

.signature_item{
  margin: 5px;
}

.header_signature{ 
  margin-left: 25vw;
  margin-top: 15px;
  transition: 0.5s; 
}
.header_signature:hover{
  cursor: pointer;
  transition: 0.5s; 
transform: scale(1.1);
}

.menu_bars_wrapper{ 
  gap: 1px;
  display: flex;
  flex-direction: column;
  margin-top:5px;
  align-items: center;
  justify-content: center;
}

.first_menubar{ 
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: rgb(255, 255, 255);
  border-width: 0.5px;
  gap: 8vw;
  width: 100vw;
  display: flex;
  font-size: 11px;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  background-color: rgb(246, 246, 246);
  padding: 5px;
  padding-top:9px;
  padding-bottom: 10px;
  margin-bottom: -1px;
  color: rgb(59, 59, 59);
}
   .first_menubar p:hover{ 
     cursor: pointer;
     transition: 0.1s;
     color: rgb(223, 223, 223);
   }
 
.first_menubar:hover{ 
  transition: 0.4s;
  background-color: rgba(252, 252, 252, 0);
}

.second_menubar{ 
  gap: 12vw;
  width: 100vw;
  display: flex;
  font-size: 12px;
  font-family: 'Teko', sans-serif;
    font-weight: 700;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: 0.05s;
  background-color: rgb(242, 242, 242);
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(212, 212, 212);
  color: rgb(31, 31, 31);
  border-width: 1px;
  box-shadow: rgb(72, 72, 72) 0px 0px 6px  ;

}

.second_menubar:hover{ 
  transition: 0.05s;
  color: rgb(224, 119, 0);
  background-color: rgba(242, 242, 242, 0);
  }

  .second_menubar p{ 
 transition: 0.7s;
  }
  .second_menubar p:hover{ 
    cursor: pointer;
    transition: 0.4s;
text-decoration: underline;
  }

.buttons{ 
  gap: 10px;
  display: flex;
  margin: 5px;
  margin-top: 15px;
  margin-left: 0;
  font-size: 13px;
  font-family: 'Teko', sans-serif;
  flex-direction: row;
  margin-left: auto;
  font-weight: 600;
  color: rgb(35, 35, 35);
}

.register_button{ 
  border-width: 0.5px;
  border-color: white;
  width: 70px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(17, 65, 0);
  border-radius: 0.70rem;
  transition: 0.7s;
}
.register_button:hover{ 
  background-color: rgb(0, 186, 9);
  transition: 0.7s;
}

.login_button{ 
  border-width: 0.5px;
  border-color: white;
  width: 70px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(238, 238, 238);
  border-radius: 0.70rem;
  transition: 0.4s;
}
.login_button:hover{ 
  background-color: rgb(0, 186, 9);
  transition: 0.4s;
  }

