
.parent ul { 
  list-style: none;
}

.parent {
  z-index: 100;
  background-color: #05151e;
  color: white;
  display: flex;
  position: fixed;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.parent_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logo__signature_and_button_parent{ 
  display: flex;
  flex-direction: row;
  gap: 35vw;
}

.logo_item{
  margin: 5px;
  margin-top: 10px;

}

.header_logo { 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:white 0px 0px 7px;
}
.header_logo:hover { 
  cursor: pointer;
  margin-top: 0;
  box-shadow:white 0px 0px 12px;
}

.signature_item{
  margin: 5px;
}

.header_signature{ 
  margin-top: 15px;
  transition: 0.5s; 
}
.header_signature:hover{
  cursor: pointer;
  transition: 0.5s; 
transform: scale(1.1);
}

.menu_bars_wrapper{ 
  gap: 1px;
  display: flex;
  flex-direction: column;
  margin-top:5px;
  align-items: center;
  justify-content: center;
}

.first_menubar{ 
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: rgb(255, 255, 255);
  border-width: 0.5px;
  gap: 8vw;
  width: 100vw;
  display: flex;
  font-size: 9px;
  font-weight: 600;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background-color: rgb(246, 246, 246);
  padding: 5px;
  padding-top:9px;
  padding-bottom: 10px;
  margin-bottom: -1px;
  color: rgb(59, 59, 59);
}
   .first_menubar p:hover{ 
     cursor: pointer;
     transition: 0.4s;
     color: rgb(223, 223, 223);
   }
 
.first_menubar:hover{ 
  transition: 0.4s;
  background-color: rgba(252, 252, 252, 0);
}

.second_menubar{ 
  gap: 12vw;
  width: 100vw;
  display: flex;
  font-size: 11px;
  font-weight: 700;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: 1s;
  background-color: rgb(242, 242, 242);
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(212, 212, 212);
  color: rgb(31, 31, 31);
  border-width: 1px;
  box-shadow: rgb(72, 72, 72) 0px 0px 6px  ;

}

.second_menubar:hover{ 
  transition: 1s;
  color: rgb(224, 119, 0);
  background-color: rgba(242, 242, 242, 0);
  }

  .second_menubar p{ 
 transition: 0.7s;
  }
  .second_menubar p:hover{ 
    cursor: pointer;
    transition: 0.4s;
text-decoration: underline;
  }

.buttons{ 
  gap: 10px;
  display: flex;
  margin: 5px;
  margin-top: 15px;
  margin-left: 0;
  font-size: 11px;
  flex-direction: row;
  margin-left: auto;
}

.register_button{ 
  border-width: 0.5px;
  border-color: white;
  width: 70px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(17, 65, 0);
  border-radius: 0.70rem;
  transition: 0.7s;
}
.register_button:hover{ 
  background-color: rgb(8, 20, 27);
  transition: 0.7s;
}

.login_button{ 
  border-width: 0.5px;
  border-color: white;
  width: 70px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgb(41, 50, 55);
  border-radius: 0.70rem;
  transition: 0.4s;
}
.login_button:hover{ 
  background-color: rgb(8, 20, 27);
  transition: 0.4s;
  }

