@media (min-width: 200px) and (max-width: 300px) and (orientation: portrait) {

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 0vw;
        width: 100vw;
    }

    .header_logo_xsm {
        width: 30px;
        height: 30px;
        position: absolute;
    }

    .header_signature_xsm {
        margin-left: 22px;
        margin-right: 0px;
        margin-top: 10px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 0px;
        margin-top: 0px;
        margin-bottom: -1px;
        font-size: 5px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 0px;
        margin-bottom: 0px;
        font-size: 5px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 14px;
        margin-right: 1vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.7);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}

@media (min-width: 300px) and (max-width: 800px) and (orientation: portrait) {



    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 0vw;
        width: 100vw;
    }

    .header_logo_xsm {
        transform: scale(0.9);
    }

    .header_signature_xsm {
        margin-left: 20vw;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 0px;
        margin-top: 0px;
        margin-bottom: -1px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 5px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 14px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}



@media (min-width: 800px) and (max-width: 1300px) and (orientation: portrait) {

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 35vw;
    }

    .header_logo_xsm {
        transform: scale(0.6);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 35px;
        margin-top: 0px;
        margin-bottom: -3px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 35px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(1.1);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}



@media (min-width: 200px) and (max-width: 350px) and (orientation: landscape) {
    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 0vw;
    }

    .header_logo_xsm {
        position: absolute;
        transform: scale(0.6);
    }

    .header_signature_xsm {
        margin-left: 25px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.8);
    }

    .first_menubar_xsm {
        gap: 4px;
        margin-top: 0;
        margin-bottom: -2px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 3px;
        margin-bottom: 0;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 0vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.6);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }
}

@media (min-width: 350px) and (max-width: 400px) and (orientation: landscape) {
    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 14vw;
    }

    .header_logo_xsm {
        transform: scale(0.6);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 35px;
        margin-top: 0px;
        margin-bottom: -3px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 35px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}



@media (min-width: 400px) and (max-width: 580px) and (orientation: landscape) {

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 14vw;
    }

    .header_logo_xsm {
        transform: scale(0.6);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 35px;
        margin-top: 0px;
        margin-bottom: -3px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 35px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}





@media (min-width: 580px) and (max-width: 900px) and (orientation: landscape) {

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 14vw;
    }

    .header_logo_xsm {
        transform: scale(0.6);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 35px;
        margin-top: 0px;
        margin-bottom: -3px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 35px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

    .login_button_xsm {
        width: 60px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
    }

}



