@media only screen and (max-device-width: 415px) and (orientation: portrait) {

    .parent {
        z-index: 100;
        background-color: #05151e;
        color: white;
        display: flex;
        position: fixed;
        width: 100vw;
        padding: 0;
        margin: 0;
      }
      
      .parent_wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
      
    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 0px;
        width: 100vw;
    }

    .header_logo_xsm {
        transform: scale(0.9);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 4px;
        margin-top: 5px;
        margin-bottom: -1px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 12px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 14px;
        margin-right: 1vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 55px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: green;
        border-radius: 0.38rem;
    }

    .login_button_xsm {
        width: 55px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: green;
        border-radius: 0.38rem;
    }

}


@media only screen and (max-device-width: 568px) and (orientation: landscape) {

    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 20vw;
    }

    .header_logo_xsm {
        transform: scale(0.9);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 35px;
        margin-bottom: 5px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 10px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 5vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.8);
    }

    .register_button_xsm {
        width: 55px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: green;
        border-radius: 0.38rem;
    }

    .login_button_xsm {
        width: 55px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: green;
        border-radius: 0.38rem;
    }

}



@media only screen and (max-device-width: 738px) and (orientation: landscape) {



    .logo__signature_and_button_parent_xsm {
        display: flex;
        flex-direction: row;
        gap: 27vw;
    }

    .header_logo_xsm {
        transform: scale(0.9);
    }

    .header_signature_xsm {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 14px;
        transform: scale(0.9);
    }

    .first_menubar_xsm {
        gap: 37px;
        margin-top: 5px;
        margin-bottom: -1px;
        font-size: 9px;
    }

    .first_menubar_xsm p {
        padding: 6px;
    }

    .second_menubar_xsm {
        gap: 50px;
        margin-bottom: 0px;
        font-size: 9px;
    }

    .second_menubar_xsm p {
        padding: 6px;
    }

    .buttons_xsm {
        gap: 15px;
        display: flex;
        margin: 5px;
        margin-top: 17px;
        margin-right: 0vw;
        font-size: 10px;
        flex-direction: row;
        margin-left: auto;
        transform: scale(0.9);
    }

    .register_button_xsm {
        width: 55px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: green;
        border-radius: 0.38rem;
    }

    .login_button_xsm {
        width: 55px;
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: green;
        border-radius: 0.38rem;
    }

}