.parentcontainer{ 
  z-index: 2;
  margin-top: 10vh;
}

.container {
    transition: 1s;
    display: flex;
    justify-content: center; 
    align-items: center;
    display: grid;

  }

.button:hover + .paragraph {
  transition: 1s;
  font-size: 12px;
  transition: 1s;
  background-color: #bb5400;
  border-color: #ff0004;
  display: grid;
}

.button {
  font-size: 9px;
  transition: 1s;
  background-color: #424353;
  color: #ffffff;
  border: 2px solid #b96f00;
  padding: 0.35rem;
  border-radius: 13px;
  position: relative;
  transform: translateY(-200px); 
}
  
  .button:hover {
    transition: 1s;
    color: #424353;
    background-color: rgb(255, 255, 255);
    border-color: #df8600;
  }
  
  .paragraph {
    transition: 1s;
    padding: 10px;
    text-align: center;
    font-size: 10px; 
    display: none; 
    color: #ffffff;
    background-color: #93a1b6;
    border-color: #94bbff;
    border-radius: 10px;
  }

  .paragraph:hover {
    transition: 1s;
    padding: 10px;
    text-align: center;
    font-size: 10px; 
    display: none; 
  }



  

     
  





  